<div class="row">
    <div class="col-sm-3 text-start">
        <h3>Usuarios</h3>
    </div>
    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Buscar usuario..." #txtBuscarUsuario/>
    </div>
    <div class="col-sm-3 text-right">
        <button routerLink="/dashboard/usuario/nuevo " class="btn btn-success">
            <i class="fa fa-plus "></i> Agregar
        </button></div>
</div>

<table *ngIf="!isSearching && usuarios.length!=0 " class="table table-sm ">
    <thead class="table-dark ">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>UserName</th>
            <th>Mail</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios; let i=index ">
            <td>{{ ((page-1) * pageSize) + i+1}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellido}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.mail}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary  btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog "></i>
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a data-toggle="tooltip" a-original-title="Borrar" cls="cursor" class="cursor dropdown-item" (click)="borrarUsuario(usuario,i) "><i class="fa fa-times-circle text-danger " ></i> Eliminar</a>
                        <a class="dropdown-item" [routerLink]="['/dashboard','usuario', usuario.id]"><i class="fa fa-search-plus" ></i> Consultar</a>
                        <a class="dropdown-item" [routerLink]="['/dashboard','usuario', usuario.id]"><i class=" fa fa-edit" ></i> Editar</a>
                    </div>
                </div>
            </td>

            <!--  <td>
                <div class="dropdown text-end ">

                    <a class="dropdown-toggle px-2 text-dark " id="dropdownMenuGrillaUsuario1 " role="button " data-bs-toggle="dropdown " aria-expanded="false ">
                        <i class="fa fa-cog "></i>
                    </a>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuGrillaUsuario1 ">
                        <li><a class="dropdown-item " [routerLink]="[ '/usuario', usuario.id] "><i class="fa fa-search-plus " ></i> Consultar</a></li>
                        <li><a class="dropdown-item " [routerLink]="[ '/usuario', usuario.id] "><i class="fa fa-edit " ></i> Editar</a></li>
                        <li><a class="dropdown-item " (click)="borrarUsuario(usuario,i) " [routerLink]="[ '/usuarios'] " href="# "><i class="fa fa-times-circle text-danger " ></i> Eliminar</a></li>
                    </ul>
                </div>
            </td> -->
        </tr>
    </tbody>
</table>
<div *ngIf="!isSearching && usuarios.length>0">
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItems" (pageChange)="pageChange()"></ngb-pagination>
</div>
<div *ngIf="!isSearching && usuarios.length===0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>
<div *ngIf="isSearching" class=" alert alert-info text-center mt-3 ">
    <h4 class="alert-heading ">Cargando</h4>
    <p>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </p>
    <p class="mb-0 ">
        Espere por favor
    </p>
</div>