<div class="row">
    <div class="col-sm-3 text-start">
        <h3>Roles</h3>
    </div>
    <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Buscar rol..." #txtBuscarRol/>
    </div>
    <div class="col-sm-3  text-right">
        <button (click)="btnNuevo();" class="btn btn-success">
            <i class="fa fa-plus"></i> Agregar
        </button></div>
</div>

<table *ngIf="!cargando && roles.length!=0" class="table table-sm">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Códgo</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!--    <tr *ngFor="let rol of roles  | slice: (page-1) * pageSize : page * pageSize; let i=index"> -->
        <tr *ngFor="let rol of roles; let i=index">
            <td>{{ ((page-1) * pageSize) + i+1}}</td>
            <td>{{rol.id}}</td>
            <td>{{rol.nombre}}</td>
            <td>{{rol.observaciones}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary  btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog "></i>
                </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a data-toggle="tooltip" a-original-title="Borrar" cls="cursor" class="cursor dropdown-item" (click)="borrarRol(rol,i) "><i class="fa fa-times-circle text-danger " ></i> Eliminar</a>
                        <a class="dropdown-item" [routerLink]="['/dashboard','rol', rol.id , 'consultar']"><i class="fa fa-search-plus " ></i> Consultar</a>
                        <a class="dropdown-item " [routerLink]="[ '/dashboard', 'rol', rol.id, 'editar'] "><i class=" fa fa-edit " ></i> Editar</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="!cargando && roles.length>0 ">
    <ngb-pagination class="d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItems" (pageChange)="pageChange()"></ngb-pagination>
</div>
<div *ngIf="!cargando && roles.length===0 " class="alert alert-warning text-center mt-3 ">
    <h4 class="alert-heading ">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x "></i>
    </p>
    <p class="mb-0 ">
        Espere por favor
    </p>
</div>
<div *ngIf="cargando " class=" alert alert-info text-center mt-3 ">
    <h4 class="alert-heading ">Cargando</h4>
    <p>
        <i class="fa fa-cog fa-spin fa-3x fa-fw "></i>
    </p>
    <p class="mb-0 ">
        Espere por favor
    </p>
</div>