<h1>Usuarios</h1>
<hr>
<div class="row">
    <div class="col text-end">
        <button routerLink="/usuario/nuevo" class="btn btn-primary">
            <i class="fa fa-plus"></i> Agregar
        </button></div>
</div>

<table *ngIf="!cargando && usuarios.length!=0" class="table mt-3">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>UserName</th>
            <th>Mail</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index">
            <td>{{i+1}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.apellido}}</td>
            <td>{{usuario.username}}</td>
            <td>{{usuario.mail}}</td>
            <td>

                <div class="dropdown text-end">
                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-cog"></i>
                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" [routerLink]="['/usuario', usuario.id]"><i class="fa fa-search-plus" ></i> Consultar</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/usuario', usuario.id]"><i class="fa fa-edit" ></i> Editar</a></li>
                        <li><a class="dropdown-item" (click)="borrarUsuario(usuario,i)" [routerLink]="['/usuarios']" href="#"><i class="fa fa-times-circle text-danger" ></i> Eliminar</a></li>
                    </ul>
                </div>
            </td>
            <!-- <td>
                <button class="btn btn-info mr-1" [routerLink]="['/usuario', usuario.id]">
                    <i class="fa fa-book"></i>
                  </button>
                <button class="btn btn-warning mr-1" [routerLink]="['/usuario', usuario.id]">
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger" (click)="borrarUsuario(usuario,i)">
                    <i class="fa fa-trash"></i>
                  </button>
            </td> -->
        </tr>
    </tbody>
</table>
<div *ngIf="!cargando && usuarios.length===0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>
<div *ngIf="cargando" class=" alert alert-info text-center mt-3 ">
    <h4 class="alert-heading ">Cargando</h4>
    <p>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </p>
    <p class="mb-0 ">
        Espere por favor
    </p>
</div>