<!-- <div class="">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">

            <form (ngSubmit)="login( f )" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Login
                </span>

                <span *ngIf="f.submitted && f.controls['username'].errors" class="text-danger animated fadeIn">El username es obligatorio</span>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="username" [(ngModel)]="usuario.username" required email placeholder="username">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">Al menos 6 letras</span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="password" [(ngModel)]="usuario.password" required minlength="6" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div> -->

<main class="form-signin">
    <form (ngSubmit)="login( f )" #f="ngForm">

        <!--   <img class="mb-4" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal"> <i class="fa fa-user-secret fa-3x"></i> Login</h1>

        <div class="form-floating">
            <input type="email" class="form-control" name="username" [(ngModel)]="usuario.username" required id="floatingInput" placeholder="nombre de usuario">
            <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" [(ngModel)]="usuario.password" required minlength="6" id="floatingPassword" placeholder="Contraseña">
            <label for="floatingPassword">Contraseña</label>
        </div>

        <div class="checkbox mb-3">
            <label>
          <input type="checkbox" [(ngModel)]="recordarme" name="recordarme" value="remember-me"> Recordar usuario
        </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
</main>