<header class="p-3 bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <a class="navbar-brand" [routerLink]="['home']"> <i class="fa fa-user-secret"></i> Seguridad</a>
            <!-- <div *ngIf="autenticado  | async as isLoggedIn" class="collapse navbar-collapse" id="navbarTogglerDemo03"> -->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link px-2 text-white" [routerLink]="['usuarios']">Usuarios</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link px-2 text-white" [routerLink]="['roles']">Roles</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link px-2 text-white" [routerLink]="['aplicaciones']">Aplicaciones</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-2 text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Configuracion</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" (click)="logout()">Salir</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>